body {
  background-color: #001C43;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

header {
  color: #ff7072;
  text-align: center;
  font-size: 4em;
}

ul {
  list-style-position: inside;
  list-style: none;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.start-btn, .end-btn {
  border: transparent;
  border-radius: 5px;
  font-size: 16px;
  height: 20px;
  padding-left: 5px;
  width: 75px;
}

.start-btn:hover, 
.end-btn:hover {
  background-color: #ff7072;
  cursor: pointer;
}

.categories li {
  text-align: center;
  background-color: #112957;
  border-radius: 20px;
  color: #e6e7ec;
  padding: 20px 40px;
  margin: 20px 20px;
  font-size: 2em;
}

.categories li:hover {
  background-color: #0063ff;
  color: #00183A;
  cursor: pointer;
}

.players-list {
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  margin: 40px;
}

.players {
  border: transparent;
  border-radius: 5px;
  display: inline;
  font-size: 16px;
  height: 30px;
  margin: 0 50px;
  padding-left: 5px;
  width: 150px;
}



section {
  display: flex;
  justify-content: center;
}