body {
  background-color: #001C43;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

header {
  color: #ff7072;
  text-align: center;
  font-size: 4em;
}

.categories {
  list-style-position: inside;
  list-style: none;
  padding-left: 0;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-btn, .end-btn {
  border: transparent;
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  height: 30px;
  margin: 5px;
  width: 75px;
}

.start-btn:hover, 
.end-btn:hover {
  cursor: pointer;
  color: #FFFFFF
}

.start-btn:hover {
  background-color: green
}

.end-btn:hover {
  background-color: red;
}

.category-cards {
  font-size: 1.2em;
}

.question-cards {
  background-color: #112957;
  border-radius: 20px;
  border: 2px solid transparent;
  color: #e6e7ec;
  font-size: 2em;
  margin: 20px 20px;
  padding: 20px 40px;
  text-align: center;
  width: 200px;
}

.categories li {
  background-color: #112957;
  border-radius: 20px;
  border: 2px solid transparent;
  color: #e6e7ec;
  font-size: 2em;
  margin: 20px 20px;
  padding: 20px 40px;
  text-align: center;
  width: 150px;
}

.question-cards:hover {
  border: 2px solid #ff7072;
  color: #ff7072;
  cursor: pointer;
}

.players-list {
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  margin: 20px;
}

.players {
  border: transparent;
  border-radius: 5px;
  display: inline;
  font-size: 16px;
  height: 30px;
  margin: 0 50px;
  padding-left: 5px;
}
.round-display {
  background-color: #ff7072;
  border-radius: 5px;
  color: #FFFFFF;
  height: 40px;
  font-size: 1.4em;
  font-weight: 900;
  margin: 10px;
  padding-top: 10px;
  text-align: center;
  width: 130px;
}

section {
  display: flex;
  justify-content: center;
}